@page "/Profile"



<h3>Profile is here</h3>
<img src="/Images/IICIMAGE.jpg" alt="IIC Image" width="1000" height="601" />

<p><strong>Name:</strong> @studentName</p>
<p><strong>Course:</strong> @courseName</p>
<p><strong>Batch Year:</strong> @batchYear</p>


@code {
    public String studentName = "Ram";
    public String courseName = "Computing";
    public int batchYear = 2025;
}



